spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:bankapi-db}:${DB_PORT:5432}/${DB_NAME:bankapi}
    username: ${DB_USER:bankapi}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000